.idea/

# built binary
terraform-provider-castai

# terraform examples/
examples/**/.terraform/
examples/**/crash.log
examples/**/*.tfstate
examples/**/*.tfstate.backup
examples/**/local.auto.tfvars
examples/**/.kube/*
# terraform examples/localdev is meant for local development
examples/localdev/*
!examples/localdev/main.tf.sample
