.idea/
.vscode/

# built binary
terraform-provider-castai

# terraform examples/
examples/**/.terraform/
examples/**/terraform.d/
examples/**/crash.log
examples/**/*.tfstate
examples/**/*.tfstate.lock.info
examples/**/*.tfstate.backup
examples/**/.terraform.lock.hcl
examples/**/*.tfvars
examples/**/.kube/*
examples/**/**/tf.vars
# terraform examples/localdev is meant for local development
examples/localdev/*
!examples/localdev/main.tf.sample
!examples/localdev/versions.tf
e2e/**/local.auto.tfvars
.env
terraform.tfstate
.DS_Store