cluster_name                = ""
cluster_region              = ""
castai_api_token            = ""
grpc_url                    = ""
vpc_id                      = ""
subnets                     = ["", ""]
profile                     = "default" # default aws cli profile is used, override if needed.
