cluster_name                = ""
cluster_region              = ""
castai_api_token            = ""
vpc_id                      = ""
cluster_security_group_id   = ""
node_security_group_id      = ""
subnets                     = ["", ""]