cluster_name     = ""
cluster_region   = ""
castai_api_token = ""
profile          = ""
rest_api_service_name   = ""
grpc_service_name       = ""
api_grpc_service_name   = ""
files_service_name      = ""
kvisor_service_name     = ""
telemetry_service_name  = ""
