castai_api_token = "PLACEHOLDER"
project_id       = "PLACEHOLDER"
cluster_region   = "PLACEHOLDER"   # e.g. "us-central1" or "us-central1-a"
cluster_name     = "PLACEHOLDER"
subnets          = ["PLACEHOLDER", "PLACEHOLDER"]    # e.g. ["default"]
