castai_api_token   = "PLACEHOLDER"
aws_account_id     = "PLACEHOLDER"
aws_cluster_region = "us-east-1"
aws_cluster_name   = "PLACEHOLDER"
vpc_id             = "vpc-PLACEHOLDER"
subnets            = ["subnet-PLACEHOLDER1", "subnet-PLACEHOLDER2"]
security_group_ids = ["sg-PLACEHOLDER1", "sg-PLACEHOLDER2"]
profile            = "default" # default aws cli profile is used, override if needed.

node_configurations = {
  default = {
    disk_cpu_ratio = 0
    min_disk_size  = 100
  }
}

default_node_configuration = "default"

node_templates = {
  default-by-castai = {
    is_default   = true
    should_taint = false
    constraints = {
      on_demand = true
    }
  }

  spot = {
    should_taint = true
    custom_labels = {
      type = "spot"
    }
    custom_taints = [{
      key    = "dedicated"
      value  = "spot"
      effect = "NoSchedule"
    }]
    constraints = {
      spot                  = true
      use_spot_fallbacks    = true
      enable_spot_diversity = true
      architectures         = ["amd64"]
    }
  }
}
