castai_api_token    = "PLACEHOLDER"
aws_account_id      = "PLACEHOLDER"
aws_cluster_region  = "PLACEHOLDER"
aws_cluster_name    = "PLACEHOLDER"
subnets             = ["PLACEHOLDER1", "PLACEHOLDER2"]
vpc_id                    = "PLACEHOLDER"
cluster_security_group_id = ["PLACEHOLDER1"]
node_security_group_id    = ["PLACEHOLDER1]
