---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Manages cluster node configurations that will be applied to CAST AI provisioned nodes.
If you choose to add new node configuration that will be applied to all newly provisioned nodes, you will have to mark
it as the default using `castai_node_configuration_default` resource.

## Example Usage

{{ tffile "examples/resources/node_configuration/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}