---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Manages cluster node configurations that will be applied to CAST AI provisioned nodes.
If you choose to add new node configuration that will be applied to all newly provisioned nodes, you will have to mark
it as the default using `castai_node_configuration_default` resource.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}


## Importing
You can use the `terraform import` command to import existing node configuration to Terraform state.

To import a resource, first write a resource block for it in your configuration, establishing the name by which
it will be known to Terraform:
```hcl
resource "castai_node_configuration" "default" {
  # ...
}
```

Now terraform import can be run to attach an existing node configuration to this resource:
```shell
$ terraform import castai_node_configuration.default <cluster_id>/default
```

If you are using CAST AI Terraform modules, import command will be slightly different:
```shell
$ terraform import 'module.castai-eks-cluster.castai_node_configuration.this["default"]' <cluster_id>/default
```