name: Build
on:
  push:
    branches: [ '*' ]
    paths-ignore:
      - '**.md'
      - 'examples/**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Go
        id: go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Build
        run: make build

      - name: Test
        run: make test
