name: Terraform Examples Validation
on:
  pull_request:
    branches: [ '*' ]
    paths:
      - '**.md'
      - 'examples/**'
jobs:
  terraform_validation:
    strategy:
      matrix:
        version: [1.0, 1.2, 1.3, 1.4, latest]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ matrix.version }}

      - name: Validate Terraform examples
        id: validate_examples
        run: make validate-terraform-examples
