name: Build
on:
  pull_request:
    branches: [ '*' ]
    paths:
      - '**.md'
      - 'examples/**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No build required" '