name: Terraform Examples Validation
on:
  pull_request:
    branches: [ '*' ]
    paths:
      - '**.md'
      - 'examples/*/*'
jobs:
  terraform_validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Validate Terraform examples
        id: validate_examples
        run: make validate-terraform-examples